<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <span>LOGO</span>
  <br>
  <br>
  <!-- GET USER DETAILS -->
  <form action="ADD_ROUTE_HERE" method="post">
    <span>Name:</span><input type="text" name="creatorName" placeholder="Your name"><br>
    <span>Email:</span><input type="text" name="email" placeholder="email@host.com"><br>
    <input type="submit" placeholder="Submit">
  </form>
  <hr>

  <!-- GET POLL DETAILS -->
  <form action="ADD_ROUTE_HERE" method="post">
    <span>Enter a question for your poll:</span><br>
    <input type="text" name="pollQuestion" placeholder="Where to eat tonight?"><br>
    <br>
    <span>Enter the options that visitors can choose from:</span>
    <br>
    <input type="text" name="option1" placeholder="Restaurant A"><br>
    <input type="text" name="option2" placeholder="Restaurant B"><br>
    <input type="text" name="option3" placeholder="Restaurant C"><br>
    <br>
    <input type="submit" value="Preview Poll">
  </form>

  <!-- PREVIEW AND SHARE THE POLL -->
  <hr>
  <div id="pollPreview">
    <p>Here's a preview of your poll:</p>
    <p>PREVIEW OF POLL GOES HERE</p>
  </div>
  <form action="ADD_ROUTE_HERE" method="post">
    <span>Share your poll:</span><br>
    <input type="email" id="email1" placeholder="email@host.com" required><br>
    <input type="email" id="email1" placeholder="email@host.com"><br>
    <input type="email" id="email1" placeholder="email@host.com"><br>
    <br>
    <input type="submit" value="Share Poll">
  </form>
  <hr>
  <a href="URL HERE">Share this link with your friends</a><br>
  <a href="URL HERE">View poll result here</a>
</body>

</html>
