<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <br />
    <!-- GET USER INFO -->
    <div class="userInfo">
      <form action="ADD_ROUTE_HERE" method="post">
        <span>Name:</span
        ><input
          type="text"
          name="creatorName"
          placeholder="Your name"
          required
        /><br />
        <span>Email:</span
        ><input
          type="text"
          name="email"
          placeholder="email@host.com"
          required
        /><br />
        <input type="submit" placeholder="Submit" />
      </form>
      <hr />
    </div>

    <!-- GET POLL DETAILS -->
    <span>Create New Poll</span>
    <form id="pollForm" action="/api/polls" method="post">
      <span>Enter a question for your poll:</span><br />
      <input
        type="text"
        name="pollQuestion"
        placeholder="Where to eat tonight?"
        required
      /><br />
      <br />
      <span>Enter the options that visitors can choose from:</span><br />
      <br />
      <div id="optionsContainer">
        <!-- OPTION 1 -->
        <div class="option">
          <span>Option:</span>
          <input
            type="text"
            name="option1Title"
            placeholder="Restaurant A"
            required
          /><br />
          <span>Description:</span>
          <input
            type="text"
            name="option1Description"
            placeholder="Good and cheap."
          /><br />
        </div>
        <br />

        <!-- OPTION 2 -->
        <div class="option">
          <span>Option:</span>
          <input
            type="text"
            name="option2Title"
            placeholder="Restaurant B"
            required
          /><br />
          <span>Description:</span>
          <input
            type="text"
            name="option2Description"
            placeholder="Good but expensive."
          /><br />
        </div>
        <br />

        <!-- OPTION 3 -->
        <div class="option">
          <span>Option:</span>
          <input
            type="text"
            name="option3Title"
            placeholder=""
            required
          /><br />
          <span>Description:</span>
          <input type="text" name="option3Description" placeholder="" /><br />
        </div>
        <br />
      </div>

      <!-- ADD ADDITIONAL OPTIONS -->
      <button id="addOption">(+) Add more options</button><br /><br />
      <input type="submit" value="Preview Poll" />
    </form>

    <!-- PREVIEW AND SHARE THE POLL -->
    <hr />
    <div id="pollPreview">
      <p>Here's a preview of your poll:</p>
      <p>PREVIEW OF POLL GOES HERE</p>
    </div>
    <form action="ADD_ROUTE_HERE" method="post">
      <span>Share your poll:</span><br />
      <input
        type="email"
        id="email1"
        placeholder="email@host.com"
        required
      /><br />
      <input type="email" id="email1" placeholder="email@host.com" /><br />
      <input type="email" id="email1" placeholder="email@host.com" /><br />
      <br />
      <input type="submit" value="Share Poll" />
    </form>
    <hr />
    <a href="URL HERE">Share this link with your friends</a><br />
    <a href="URL HERE">View poll result here</a>
  </body>
</html>
