<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <img src="logo.png" alt="logo">

  <form action="ADD_ROUTE_HERE" method="post">
    <p>Name:</p>
    <input type="text" name="creatorName" value="Your name">
    <p>Email:</p>
    <input type="text" name="email" value="email@host.com">
    <input type="submit" value="Enter">Send button
  </form>

  <form action="ADD_ROUTE_HERE" method="post">
    <p>Poll Question:</p>
    <input type="text" name="pollQuestion" value="">

    <input type="text" name="option1" value="">
    <input type="text" name="option2" value="">
    <input type="text" name="option3" value="">
  </form>

  <div id="pollPreview">
    <p>Here's a preview of your poll</p>
  </div>
</body>

</html>
