<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Change this to name of Poll i.e. value of question -->
    <title>POLL NAME</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <br />
    <!-- WELCOME -->
    <h1>Welcome to Decision Wizard</h1>
    <h2>CREATOR NAME needs your help making a decision:</h2>

    <h2>QUESTION goes here</h2>
    <p>Use 'drag and drop' to put the options into the order from 1st choice to last choice.</p>
    <p>CHOICE 1 --- 1ST CHOICE</p>
    <p>CHOICE 2 --- 2ND CHOICE  </p>
    <p>CHOICE 3 --- 3RD CHOICE </p>
    <button type="submit">SUBMIT</button>

    Submission response message --- appears after clicking submit.
    <p>Thank-you for making a submission</p>
    <p>CREATOR NAME appreciates your help.</p>
    <p>This poll ends on <DATE></p>
    <p>Poll Results Page:</p>
    <a href = "URL">POLL QUESTION</a>
    <p>Created on DATE</p>
    <p>We will send the final results of the poll to USEREMAIL</p>
  </body>
</html>
